@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-family: 'Nunito', sans-serif;
    @apply text-pelican-white;
    @apply bg-gray-700;
}

.hide-scrollbar {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
